---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "thirzadado/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "thirzadado"; // main partials

h1 {
  font-family: 'Roboto Mono', monospace !important;
}

.author__name {
  font-family: 'Roboto Mono', monospace !important;
}

.author__bio a {
  color: #DD4124 !important;
}

.author__bio a:hover {
  color: #a72e1a !important;
}


html {
    font-size: 12px; // 12
    font-family: "times";

    @include breakpoint($small) {
      font-size: 12px; // 12
      font-family: "times";
    }
  
    @include breakpoint($medium) {
      font-size: 14px; // 14
      font-family: "times";
    }
  
    @include breakpoint($large) {
      font-size: 16px; // 16
      font-family: "times";
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // 18
      font-family: "times";
    }
  }