---
layout: archive
---

{{ content }}

<h1>Hello & Welcome</h1>

I'm <a href="/about/">Thirza</a> and this website is about things I like. Stay tuned for more things!

<h3>News</h3>

<!-- square, none -->  
<ul>
  <li style="list-style-type: square; text-align: justify;">Our paper <a href="https://2023.ccneuro.org/view_paper.php?PaperNum=1495">"Feature-disentangled reconstruction of perception from multi-unit recordings"</a> is accepted and <a href="/assets/files/ccn23.pdf">presented</a> at CCN 2023 in Oxford</li>
  <li style="list-style-type: square; text-align: justify;">Our paper <a href="/work/brain2gan">"Brain2GAN: Feature-disentangled neural coding of visual perception in 
    the primate brain"</a> is posted on biorxiv</li>
  <li style="list-style-type: square; text-align: justify;"><a href="https://theneurotech.eu/">NeurotechEU</a> hosted its third 
    <a href="https://theneurotech.eu/women-of-neurotecheu-3rd-edition-7-8-march-2023-cluj-napoca/">Women of NeurotechEU</a> event, commemorating 
    International Women's Day. As part of the event, Rosie Zheng and I had the privilege of conducting interviews with distinguished guests, including 
    <a href="https://theneurotech.eu/women-of-neurotecheu-interview-radbouduniversity/">Dr. Prof. Corette Wierenga</a>, 
    <a href="https://theneurotech.eu/women-of-neurotecheuwomen-of-neurotecheu-interview-reykjavikuniversity/">Dr. Bryndís Björk Ásgeirsdóttir</a>, 
    <a href="https://theneurotech.eu/women-of-neurotecheu-interview-bogazici-university/">Dr. Prof. Arzu Çelik</a> and 
    <a href="https://theneurotech.eu/women-of-neurotecheu-interview-university-of-lille/">Kathleen O'Connor</a>   
  </li>
  <li style="list-style-type: square; text-align: justify;">Our latest work on NU.nl: 
    <a href="https://www.nu.nl/tech/6261140/de-computer-weet-wat-je-ziet-hoe-breinsignalen-worden-omgezet-in-beeld.html">"The computer knows what you see: how brain signals are converted into images"</a></li>
  <li style="list-style-type: square; text-align: justify;">fMRI dataset of our <a href="/work/hyper" style="color: #92A8D1;"><i>hyper</i></a> paper is now publicly accessible 
    on <a href="https://openneuro.org/datasets/ds004280">OpenNeuro</a></li>
  <li style="list-style-type: square; text-align: justify;"><a href="https://theneurotech.eu/">NeurotechEU</a> invites you to the synapses mini lecture on neural decoding and 
    -prosthetics on Thursday 29th of September at 12.30-13:30 pm (CEST) organized by Radboud University. Sign up <a href="https://forms.gle/bznvQ15xvWJ2KT6L8">
      here</a> <a href="assets/images/Brain_and_out1.jpeg">&#128206;</a><a href="assets/images/Brain_and_out2.jpeg">&#128206;</a></li>
  <li style="list-style-type: square; text-align: justify;">Our work on <a href="/work/hyper" style="color: #92A8D1;"><i>hyper</i></a> is featured on Newsday - BBC World Service 
    (find the .mp3 on <a href="https://thirzadado.com/media/">Media</a>)!</li>
  <li style="list-style-type: square; text-align: justify;">Our work on <a href="/work/hyper" style="color: #92A8D1;"><i>hyper</i></a> 
    is featured on <a href="https://www.mailplus.co.uk/edition/health/good-health/214983/are-these-pictures-proof-brain-scans-can-read-our-minds">
      Daily Mail</a>!</li>
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
{% include paginator.html %}