---
layout: archive
---

{{ content }}

<!-- <p>If you can imagine it, you can go and do it.</p> -->
<h3>News</h3>

<!-- square, none -->
<ul>
  <li style="list-style-type: square">NeurotechEU invites you to the synapses lecture on neural decoding and -prosthetics on Thursday 29th of September at 12.30-13:30 pm (CEST) organized by Radboud University. Sign up <a href="https://forms.gle/bznvQ15xvWJ2KT6L8">here</a>! <a href="assets/images/Brain_and_out1.jpeg">&#128206;</a><a href="assets/images/Brain_and_out2.jpeg">&#128206;</a></li>
  <li style="list-style-type: square">Our work on neural decoding of perception is featured on <a href="https://www.mailplus.co.uk/edition/health/good-health/214983/are-these-pictures-proof-brain-scans-can-read-our-minds">Daily Mail</a>!</li>
  
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
{% include paginator.html %}